@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-right: 15px;
  font-weight: bold;
}

.logo {
  padding-left: 12px;
}

.box2 {
  background-image: url('img/bg1.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  padding-bottom: 5rem;
  border-bottom-left-radius: 5rem;
  box-shadow: -10px 10px 10px -6px rgba(207, 205, 205, 0.501);
}
.box .greet h1{
  font-weight: 700;
}

.greet h1 {
  font-size: 3rem;
  line-height: 60px;
  color: #091e42;
  padding: 5rem 1rem 1rem 1rem;
  padding-bottom: 1rem;
  align-items: center;
}

.bar {
  display: block;
  height: 5px;
  width: 35px;
  background-color: #6070ff;
  margin: 3px;
  border-radius: 5px;
}

.social-icons {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
}

li {
  list-style: none;
}

.info {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 1rem;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding: 1rem;
}
